node_modules/
dist/
.vitepress/cache/
.vitepress/dist/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/.vitepress/footer-meta.json
.DS_Store
*.pdf
*.log
all.md

.env
styles/dynamic.css

locales/*/.vitepress/config.ts
locales/*/.vitepress/cache/**/*

docs/public/archive/**/*
logs/**/*
version.json
CHANGELOG.md
docs/**/CHANGELOG.md
images/
