h2 + blockquote + table {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  font-size: 0.95em;
  border-collapse: collapse;
  margin-top: 1.2em;
  width: 100%;
}

h2 + blockquote + table th,
h2 + blockquote + table td {
  border: 1px solid #bbb;
  padding: 0.4em;
  text-align: left;
}

.footer {
  border-top: 1px solid #bbb;
  margin-top: 5em;
  padding-top: 1em;
  font-size: 9pt;
}
